/* .imagen-svg {

    color: white !important;
    background-color: white;
    padding: 0.45rem;
    border-radius: 0.5rem;
    height: 100%;
    width: auto;
    margin-right: 5rem;
    text-decoration: none;
    list-style: none;

} */
.bolsa {
    position: relative;
    /* margin-right: 2rem; */
    color: white;
    top: 0.4rem;
    right: 1.75rem;
    font-weight: 600;
}