
.container-detail {

/* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40rem;
/* 
    margin-top: 20rem; */
    }
.img-detalle {
    
    overflow: hidden;
   
 
}
.img-detalle img {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* transition: 0.4s; */
    /* object-fit: cover ; */

}

.container-card-detail {
    background-color: #fafafa;
    height: 32rem;
    box-shadow: 14px 15px 42px -21px rgb(74 74 74);
    /* height: 80%; */
    /* z-index: 2; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    padding-left: 1rem;
}
.container-card-detail h1 {
    border-bottom: 0.1rem solid black;
    margin: 0 1rem;
    padding: 0.25rem;
 }
