.contenedor-count {
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.container-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-boton-lista::before {
   content: "CANTIDAD:";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.25rem;
    font-weight: bolder;

}
.container-boton  button {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    height: fit-content;
    border-radius: 1rem;
    padding:  0.25rem ;
    /* padding: 0rem 0.25rem; */
}
.container-boton h2 {
    font-size: 1.5rem;
    padding: 0rem 1.5rem;
}
.container-add-carro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.agregar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.agregar button {
background-color: black;
border: none;
color: white;
border-radius: 0.5rem;
padding: 0.75rem;
}
@media screen and (max-width:1199px ) {
    .agregar button {
        padding: 0.5rem 0.08rem;
        border-radius: 0.25rem;
        font-size:1rem;
    }
    .container-boton-lista::before {
        content: "";

     
     }
}
@media screen  and (min-width:320px) and (max-width:350px)  {
    .agregar button {
        background-color: black;
        border: none;
        color: white;
        border-radius: 0.5rem;
        padding: 0.25rem;
        margin: 1rem;
        }
}